  /* CSS BY SARAH MOORE */
  /* IMPORTED FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

 /* CSS RESET */
 
 
/* ROOT VARIABLES */
:root {
  --font-1: 'Kavoon';
  --font-2: 'Inter';

  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dk-grey: #1E1E1E;
  --white: #FFFFFF;
}
