/* CSS BY SARAH MOORE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
@import "normalize.css";

/* ROOT VARIABLES */
:ROOT{
  --font1: 'Kavoon', cursive;
  --font2: 'Inter', sans-serif;

  --teal: #4ca7c0;
  --purple: #484fb7;
  --lavender: #6b8fe7;
  --yellow: #e9bb57;
  --pink: #d9526f;
  --dk-gray: #1e1e1e;
  --white: #ffffff;
}

body {
  background-color: var(--purple);
  font-family: var(--font2);
  color: var(--white);
}

h1, h2 {
  font-family: var(--font1);

}

h1 {
  font-size: 3em;
}

nav h2 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.15em;
}